div{
  margin-bottom: 80px;
  margin-top: 32px;
  display: block;
  margin-right: 8px;
}

p{
font-size: 10px;
}

footer{
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: #FFEBD9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
